@tailwind base;
@tailwind components;
@tailwind utilities;

.clip {
    clip-path: polygon(0% 10%, 10% 0%, 50% 0%, 50% 2%, 100% 2%, 100% 80%, 80% 100%, 0% 100%);
}

.entrance-out {
    animation: entrance-out 1s ease-in;
}

.entrance-in {
    animation: entrance-in 1s ease-in 1s;
}

.entrance {
    animation: entrance 1s ease-in;
}

.entrance-side {
    animation: entrance-side 1s ease-in;
}

@keyframes entrance-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50vh);
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}

@keyframes entrance-in {
    0% {
        opacity: 0;
        transform: translateY(100vh);
    }
    50% {
        opacity: 0.5;
        transform: translateY(50vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes entrance {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-50vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes entrance-side {
    0% {
        opacity: 0;
        transform: translateX(100vw);
    }
    50% {
        opacity: 0.5;
        transform: translateX(50vw);
    }
    100% {
        opacity: 0.75;
        transform: translateX(0);
    }
}